<div style="max-width: 300px; margin: 0 auto;">
  <div class="vertical-center">
    <nz-spin nzSimple *ngIf="isLoading"></nz-spin>
    <nz-alert *ngIf="error"
              nzType="error"
              nzCloseable
              nzMessage="Login error"
              [nzDescription]="error"
              (nzOnClose)="afterClose()"
    ></nz-alert>
    <router-outlet></router-outlet>
    <h1 *ngIf="!isLoading">Administration SALI</h1>
    <form *ngIf="!isLoading" nz-form [formGroup]="loginForm" class="login-form" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your username!">
          <nz-input-group nzPrefixIcon="user">
            <input type="text" nz-input formControlName="username" placeholder="Username" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your Password!">
          <nz-input-group nzPrefixIcon="lock">
            <input type="password" nz-input formControlName="password" placeholder="Password" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Log in</button>
    </form>
  </div>

</div>


