<nz-spin nzSimple *ngIf="isLoading"></nz-spin>
<nz-breadcrumb *ngIf="!isLoading">
  <nz-breadcrumb-item>
   <a routerLink="/client">Clients</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    Commande(s) de {{listeCommande.client.noms}} {{listeCommande.client.prenoms}}
  </nz-breadcrumb-item>
</nz-breadcrumb>
<div *ngIf="!isLoading" >
  <app-add-edit-commande [selectedClient]="listeCommande.client" [editMode]="0" [commande]="null"></app-add-edit-commande>
  <app-commande-item
    [selectedClient]="listeCommande.client"
    [commande]="commande"
    [index]="i"
    *ngFor="let commande of listeCommande.commandes; let i = index "></app-commande-item>
</div>

