
<li (click)="showModal()" *ngIf="editMode == 1" nz-menu-item>Éditer</li>
<button (click)="showModal()" *ngIf="editMode != 1" style="margin-top: 10px"
        nz-button nzType="default">
  <i nz-icon nzType="plus-circle"></i>
  Ajouter une mésure
</button>
<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="editMode == 1 ? 'Éditer mésure' : 'Ajouter mésure'"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [nzOkLoading]="isOkLoading"
>
  <form *nzModalContent nz-form [formGroup]="validateForm">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="typeVetement">
        Type Vêtement
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Ce champ est invalide">
        <nz-radio-group formControlName="typeVetement"
                        id="typeVetement" (change)="loadType()">
          <label nz-radio nzValue="CHEMISE">Chemise</label>
          <label nz-radio nzValue="PANTALON">Pantalon</label>
          <label nz-radio nzValue="VESTE">Veste</label>
        </nz-radio-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired [nzSm]="6" [nzXs]="24" nzFor="typeMesure">Type Mésure</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-select formControlName="typeMesure" id="typeMesure">
          <nz-option *ngFor="let tyM of typeMesureChemise | typeMesureFilter: validateForm.value.typeVetement" [nzValue]="tyM" [nzLabel]="tyM">
          </nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="telephone">Valeur</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Ce champ est invalide">
        <nz-input-number style="width: 100% " formControlName="valeur" [nzMin]="0"
                         [nzStep]="0.01" id="reste"></nz-input-number>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>
