
<li (click)="showModal()" *ngIf="editMode == 1" nz-menu-item>Éditer</li>
<button (click)="showModal()" *ngIf="editMode != 1" style="margin-top: 10px"
        nz-button nzType="default">
  <i nz-icon nzType="plus-circle"></i>
  Ajouter une mésure
</button>
<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="editMode == 1 ? 'Éditer mésure' : 'Ajouter mésure'"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [nzOkLoading]="isOkLoading"
>
  <form *nzModalContent nz-form [formGroup]="validateForm">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="typeVetement">
        Type Vêtement
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Ce champ est invalide">
        <nz-radio-group formControlName="typeVetement" id="typeVetement">
          <label nz-radio nzValue="CHEMISE">Chemise</label>
          <label nz-radio nzValue="PANTALON">Pantalon</label>
          <label nz-radio nzValue="VESTE">Veste</label>
        </nz-radio-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired [nzSm]="6" [nzXs]="24" nzFor="typeMesure">Type Mésure</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-select formControlName="typeMesure" id="typeMesure">
          <nz-option nzValue="AB" nzLabel="AB"></nz-option>
          <nz-option nzValue="B" nzLabel="B"></nz-option>
          <nz-option nzValue="C" nzLabel="C"></nz-option>
          <nz-option nzValue="CA" nzLabel="CA"></nz-option>
          <nz-option nzValue="CD" nzLabel="CD"></nz-option>
          <nz-option nzValue="COL" nzLabel="COL"></nz-option>
          <nz-option nzValue="E" nzLabel="E"></nz-option>
          <nz-option nzValue="L" nzLabel="L"></nz-option>
          <nz-option nzValue="LM" nzLabel="LM"></nz-option>
          <nz-option nzValue="P" nzLabel="P"></nz-option>
          <nz-option nzValue="T" nzLabel="T"></nz-option>
          <nz-option nzValue="TM" nzLabel="TM"></nz-option>
          <nz-option nzValue="V" nzLabel="V"></nz-option>
          <nz-option nzValue="m" nzLabel="m"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="telephone">Valeur</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Ce champ est invalide">
        <nz-input-number style="width: 100% " formControlName="valeur" [nzMin]="0"
                         [nzStep]="0.01" id="reste"></nz-input-number>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>
